/* Gym site css */

/* This is Css reset */
body{
    margin: 0px;
    padding: 0px;
    background: url('/img/Gym.jpg');
    color: white;
}

.left{
    position: absolute;
    left: 34px;
    top: 10px;
    display: inline-block;
    /* border: 2px solid rgb(226, 81, 81); */
}

.left img{
    width: 69px;
    /* to make img white from black */
    filter: invert(100%);
}

.left div{
    text-align: center;
}
.mid{
    display: block;
    width: 43%;
    margin: 10px auto;
    /* border: 2px solid rgb(81, 209, 226); */
    
}

.right{
    position: absolute;
    right: 34px;
    top: 10px;
    display: inline-block;
    /* border: 2px solid rgb(195, 61, 212); */

}

.navbar{
    display: inline-block;

}

.navbar li{
    display: inline-block;
    font-size: 20px;
}

.navbar li a{
    color: white;   
    text-decoration: none;
    padding: 30px 20px;
}

.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: gray;

}

.btn{
    margin: 12px 8px;
    background-color: black;
    color: white;
    padding: 5px 6px;
    border: 2px solid rgb(192, 183, 183);
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
}

.btn:hover{
    background-color: #ffecec;
    color: black;
    border-color: rgb(31, 30, 30);
}

.container{
    border: 2px solid rgb(243, 243, 243);
    margin: 76px 62px;
    padding: 35px 55px;
    width: 30%;
    border-radius: 10px;
    color: white;
}

.container h1{
    text-align: center;
}

.container button{
    display: block;
    width: 76%;
    margin: 21px auto;
    padding: 8px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 83%;
    padding: 9px;
    border: 2px solid rgb(43, 42, 42);
    margin: 8px auto;
    font-size: 18px;
    border-radius: 12px;
}

